
*{
  font-family: 'Roboto' !important;
}
.tex-gris{
  color: #8f8f8f;
}
.width-logo{
  margin-top: 60px;
  width: 100px;
}
.span-gris{
  color: #8f8f8f;
  font-size: 0.9rem;
}
.title-portada{
  font-size: 1.60rem;
  font-weight: 500;
  /*font-weight: bold;*/
}
.container{
  height: 90vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.carousel{
  margin-top: 30px;
  width: 300px;
  text-align: center;
  margin-bottom: 0;
}
.carousel .item img{
  margin: 0 auto;
  width: 200px;
}
.owl-dots{
  margin: 20px auto 5px auto;
  text-align: center;
  width: 100%;
  height: 10px;
}
.owl-nav{
  display: none;
}
.owl-dot{
  width: 20px;
  display: inline-block;
}
.owl-dot span{
  display: block;
  width: 10px;
  height: 10px;
  background-color: rgb(203, 203, 203);
  border-radius: 50%;
}
.active span{
  background-color: red;
}
.button{
  width: 100%;
}
.inicio{
  width: 80%;
  background-color: #fbd43b;
  color: #fff;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
.size{
  height: 80vh;
}
.btn-orange{
  background-color: #fbd43b;
}
/*Segunda pagina*/
/*.logo-registro1{

}*/


.box-input1{
  width: 270px;
}
.icon-input1{
  width: 70px;
  top : 0;
}
/*Tercera pagina*/
.logo-registro2{
  margin-top: 60px;
  width: 100px;
}
.box-input2{
  width: 270px;
  position: relative;
}
.icon-input2{
  width: 15px;
  position: absolute;
  bottom: 30px;
}
.box-contador{
  margin-bottom: 100px;
}
.clock{
  width: 16px;
}
/*cuarta-pagina*/
.text-advertencia{
  font-size: 0.9rem;
}
.icon-user{
  bottom: 30px;
  width: 22px;
}
.icon-lock{
  bottom: 70px;
  width: 17px;
}
.icon-send{
  bottom: 30px;
  width: 20px;
}
.icon-send,
.icon-lock,
.icon-user{
  position: absolute;
}
.box-input3{
  width: 270px;
  position: relative;
}
.logo-registro3{
  margin-top: 30px;
  width: 100px;
}

/*quita pagina*/
.fondo-bienvenida{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #fbd43b;
}
.img-check{
  display: block;
  width: 100px;
  margin-bottom: 10px;
}
.text-purple{
  color:  #38052a;
  font-size: 1.4rem;
  margin-bottom: 0;
  margin-top: 0;
}
/**/
.icon-tarjeta{
  width: 25px;
  top: 15px;
}
.escanear{
  width: 100%;
  margin: 0 auto;
}
.fecha{
  width: 100%;
  overflow: auto;
}
.screen{
  width: 25px;
}
.fecha input{
  width: 20px;
}
.fecha input::placeholder{
  text-align: left;
}
.size{
  padding: 0 20px;
}
.question{
  width: 100%;
}
.question img{
  width: 25px;
  position: relative;
  top: 15px;
}
.input-card{
  width: 250px;
}
.icon-lock2{
  top: 0;
  width: 20px;
}

.bg-color{
  background-color: #38052a;
  height: 100vh;
}
.text-saludo{
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0;
}
.icon-happy{
  width: 100px;
}
.icon-tuerca{
  width: 25px;
}
.large{
  background-color: #451e36;
  width: 100%;
  padding: 8px 10px;
  height: 230px;
}
.icon-eye{
  width: 20px;
}
.box-superior{
  margin: 50px auto 0 auto;
  text-align: center;
}
.box-superior div{
  margin: 0 auto;
  text-align: center;
}
.text-left{
  display: inline-block;
  padding: 15px 0;
  color: #fff;
  font-weight: 500;
}
.icon-arrow{
  padding-top: 10px;
  width: 25px;
}
.icon-party{
  width: 100px;
}
.box-iconInferior{
  width: 80%;
  overflow: auto;
  margin: 15px 20px 0 20px;
}
.box-mov{
  margin: 0 20px;
  overflow: auto;
}
.text-right{
  color: #fff;
  width: 60%;
}
.text-right p{
  margin: 0;
}
.btn-icon{
  margin: 70px auto 0 auto;
  width: 70%;
}
.text-icon{
  width: 80%;
  font-size: 0.8rem;
  margin: 0 auto;
  color: #fff;
}
.btn-icon img{
  width: 50px;
}
.container-end{
  height: 100vh;
}
.c-turquesa{
  color: #00c3a3;
}
